* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(28, 45, 72);
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, form, .user_info, .user_stats {
    border: 1px solid lightgray;
    border-radius: 5px;
}

a {
    color: rgb(118, 100, 221);
}

.user_info {
    display: flex;
    width: 650px;
}

.user_info img {
    width: 100px;
    height: 100px;
}

.user_stats {
    display: flex;
    justify-content: space-evenly;
}

.links {
    display: flex;
    justify-content: flex-start;
}